var format = function(text) {
  console.log(text)
  if (!text) return
  var reg = getRegExp('\\\\n', 'g')
  text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;')
  return text
}


var limit = function(array, length) {
  return array.slice(0, length)
}

module.exports = {
  format: format,
  limit: limit
}